@import "src/styles.scss";

:host {
  .root {
    font-size: 20px;
    font-weight: normal;
    color: map-get($glory-main-natural, 900);
  }

  .nest {
    font-size: 16px;
    font-weight: normal;
    color: map-get($glory-main-natural, 900);
    margin-left: 10px;
  }
  .label {
    margin-left: 5px;
  }
}
