
<div class="cie-uses-page">
  <div class="section section-header-page" fxLayout="row" fxLayoutAlign="space-between center">
    <cie-header-page data-test="header-page" [title]="pageTitle">
      <cie-button class="primary" data-test="button-create" (click)="onCreateUser()">Create</cie-button>
    </cie-header-page>

  </div>
  <div class="content-page content-uses-page">
    <div class="section section-table">
      <cie-table
        data-test="user-table"
        [displayedColumns]="displayColumns"
        [data]="dataTable"
      ></cie-table>
    </div>
  </div>
</div>
