@import "src/styles.scss";

:host {
  .dialog {
    display: grid;
    grid-template-columns: 1fr auto auto;
    color: map-get($glory-main-natural, 900);

    .title_header {
      padding: 1.125rem 1.5rem 1.1875rem;
      grid-row: 1;
      font-size: 1.25rem;
      font-weight: bold;
    }

    .description {
      font-size: 0.875rem;
      font-weight: 500;
      padding: 1.0625rem 1.5rem;
      grid-column: 1/4;
      grid-row: 2;
      border-top: 1px solid map-get($glory-main-natural, 400);
      border-bottom: 1px solid map-get($glory-main-natural, 400);
      height: 3.625rem;
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      padding: 0.75rem 1.5rem;
      grid-row: 3;
      cie-button {
        margin-left: 1rem;
        ::ng-deep button {
          width: 7.5rem !important;
          background-color: map-get($glory-main-natural, 000);
          color: map-get($glory-main-natural, 900);
          border-color: map-get($glory-main-natural, 400);
        }
      }
    }
  }
}
::ng-deep .custom-delete mat-dialog-container {
  width: 30rem;
  border-radius: 2px;
}
::ng-deep .custom-dialog {
  .description {
    span {
      color: map-get($glory-main-natural, 500);
    }
  }
  .actions {
    cie-button.confirm {
      ::ng-deep button {
        border-color: map-get($glory-secondary-red, 400) !important;
        color: map-get($glory-secondary-red, 400) !important;
      }
    }
  }
}
