@import "../../../styles.scss";
:host {
  table {
    width: 100%;
    border: 1px solid map-get($glory-main-natural, 400);
    tr.mat-header-row {
      background: map-get($glory-main-natural, 300) 0% 0% no-repeat padding-box;
      opacity: 1;
      font-size: 1rem;
      font-weight: bold;
    }
    tr.mat-header-row th {
      font-size: 1rem;
      font-weight: bold;
      color: map-get($glory-main-natural, 900);
    }
    tr.mat-row td {
      font-size: 0.875rem;
      color: map-get($glory-main-natural, 900);
    }
    tr.mat-row {
      border-color: map-get($glory-main-natural, 300);
    }
  }
  ::ng-deep mat-paginator {
    background-color: transparent;
    .mat-paginator-page-size-label,
    .mat-paginator-range-label,
    mat-select-value-text span {
      font-size: 0.875rem;
      color: map-get($glory-main-natural, 1000);
    }
  }
}
